<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="class_pred"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="Class [kNN]"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="class_pred"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="Class [kNN]"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="defaultValue">
            <entry key="column" type="xstring" value="person_age"/>
        </config>
        <entry key="hideInDialog" type="xboolean" value="false"/>
        <entry key="parameterName" type="xstring" value="class_pred"/>
        <entry key="label" type="xstring" value="Class prediction column"/>
        <entry key="description" type="xstring" value="Enter Description"/>
        <entry key="required" type="xboolean" value="true"/>
        <entry key="flowVariableName" type="xstring" value="class_pred"/>
        <config key="possibleColumns">
            <entry key="array-size" type="xint" value="24"/>
            <entry key="0" type="xstring" value="person_age"/>
            <entry key="1" type="xstring" value="person_income"/>
            <entry key="2" type="xstring" value="person_emp_length"/>
            <entry key="3" type="xstring" value="loan_amnt"/>
            <entry key="4" type="xstring" value="loan_int_rate"/>
            <entry key="5" type="xstring" value="loan_percent_income"/>
            <entry key="6" type="xstring" value="cb_person_cred_hist_length"/>
            <entry key="7" type="xstring" value="loan_grade"/>
            <entry key="8" type="xstring" value="RENT"/>
            <entry key="9" type="xstring" value="OWN"/>
            <entry key="10" type="xstring" value="MORTGAGE"/>
            <entry key="11" type="xstring" value="OTHER"/>
            <entry key="12" type="xstring" value="PERSONAL"/>
            <entry key="13" type="xstring" value="EDUCATION"/>
            <entry key="14" type="xstring" value="MEDICAL"/>
            <entry key="15" type="xstring" value="VENTURE"/>
            <entry key="16" type="xstring" value="HOMEIMPROVEMENT"/>
            <entry key="17" type="xstring" value="DEBTCONSOLIDATION"/>
            <entry key="18" type="xstring" value="Y"/>
            <entry key="19" type="xstring" value="N"/>
            <entry key="20" type="xstring" value="class_label"/>
            <entry key="21" type="xstring" value="Class [kNN]"/>
            <entry key="22" type="xstring" value="P (class_label=APPROVED)"/>
            <entry key="23" type="xstring" value="P (class_label=DENIED)"/>
        </config>
        <entry key="type" type="xstring" value="Dropdown"/>
        <entry key="limit_number_visible_options" type="xboolean" value="false"/>
        <entry key="number_visible_options" type="xint" value="5"/>
        <config key="input_filter">
            <config key="type_filter">
                <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.time.localdatetime.LocalDateTimeValue" type="xboolean" value="false"/>
            </config>
            <entry key="allow_all_types" type="xboolean" value="true"/>
            <entry key="filter_columns_without_domain" type="xboolean" value="false"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.js.base.node.configuration.selection.column.ColumnSelectionDialogNodeFactory2"/>
    <entry key="node-name" type="xstring" value="Column Selection Configuration"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.8.0.v202510021204"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.8.0.v202510031610"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Selection Configuration"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
            <entry key="port_object_summary" type="xstring" value="Variables connection"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_0"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="6e779210-d65d-47e8-9bdb-922f77e9c40d"/>
    </config>
</config>
